button{
    background: #fff;
    padding: 20px 40px;
    border: 2px solid blue;
    box-shadow: 0 0 5px blueviolet;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    color: blue;
    font-size: 1.2rem;
}

button:disabled{
    background: red;
    box-shadow: none;
    opacity: .4;
}

